#wrapper{
    margin:0 auto;
    height: 100px;
}

#nav {
    position:relative;
    margin:0 auto;
}

ul#navigation {
    margin:0px auto;
    position:relative;
    float:left;
}

ul#navigation li {
    display:inline;
    font-size:15px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:150px;
    background:#7D7D7D;
    /*box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;     
}

ul#navigation li a:hover {
    background:#f8f8f8;
    color:#fff;
}

ul#navigation li:hover > a {
    background: #111;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#navigation li:last-child > ul{
    right: 0px;
    left: auto;
}

ul#navigation ul {
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}

ul#navigation li a.first {
    border-left: 0 none;
}

ul#navigation li a.last {
    border-right: 0 none;
}


